[user]
	name = Mario Perez
  email = mario.perez@frontiersin.org

[credential "https://source.developers.google.com"]
	helper = gcloud.sh
[http]
	cookiefile = /Users/mario.perez/.gitcookies

[include]
  path = .gitdefaults
